body {
  background-color: #444444;
  color: #171717;
}

nav {
  position: fixed;
  background-color: #171717;
}

.nav-link {
  color: #da0037;
}

.btn {
  background-color: #171717;
}
.btn:hover {
  background-color: #da0037;
  color: #171717;
}

.hero-name {
  padding-left: 1.7em;
}

section {
  height: 100vh;
}

.introduction {
  height: 100vh;
  padding-top: 30vh;
}

.opening {
  position: relative;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #ededed;
}

#left-box {
  border-right: 10px black solid;
}

h5 {
  margin-bottom: auto;
}

h4 {
  color: #ededed;
}

.carousel {
  margin-top: 1.3em;
  height: 67vh;
  width: 40vw;
}

.cert {
  height: 100%;
  width: 100%;
}

.page-footer {
  background-color: #171717;
}

.imp {
  color: #da0037;
  font-size: x-large;
}

i {
  color: #da0037;
}

.divider {
  background-color: #171717;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.link {
  color: #da0037;
}

@media screen and (max-width: 400px) {
  body {
    background-color: aquamarine;
  }
}

.card-title {
  color: #da0037;
}

tr:nth-child(even) {
  color: #ededed;
}
tr:nth-child(odd) {
  color: #181818;
}
