*,
*::before,
*::after {
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.introduction {
  height: 100vh;
}
.intro_div {
  background-image: url("./pexels-vitaly-vlasov-1342460.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
